<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h2 {
            text-align: center;
        }

        input {
            text-align: center;
        }

        form {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title> weather </title>
</head>
<body style="background-color: lightskyblue">
   <h2> Weather information </h2>
<form method="POST" action="/weather">
 Enter the city: <input type="text" name="city_name" placeholder="name"> <br /><br />
    <button type = "submit" class="button"> Show results </button>
</form>
</body>
</html>
