<!DOCTYPE HTML>
        <html>
        <head>
        <style>
        h1 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    </style>
            <meta charset="utf-8">
            <title> weather </title>
        </head>
        <body style="background-color: lightskyblue">
<h1> Weather in city today </h1>

<p> City: {{ city }} </p>
<p> Country: {{ country }} </p>
<p> Timezone: {{ timezone }} </p>
<p> Local time: {{ local_time }} </p>
<p> Temp Celsius: {{ tempc }} degrees</p>
<p> Temp Fahrenheit: {{ tempf}} degrees</p>
<p> Condition: {{ cond }} </p>
            
</body>
</html>